<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671738204587-54n164haod6j98rtgnliotf9nve0rh5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671738204587-54n164haod6j98rtgnliotf9nve0rh5u</string>
	<key>API_KEY</key>
	<string>AIzaSyAx5JRwFYvgexw1EXFETEqhoWZZcVEhpvw</string>
	<key>GCM_SENDER_ID</key>
	<string>671738204587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.udelivery</string>
	<key>PROJECT_ID</key>
	<string>udelivery-71481</string>
	<key>STORAGE_BUCKET</key>
	<string>udelivery-71481.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671738204587:ios:247356823da570bffa42ee</string>
</dict>
</plist>